:root {
    --cream:#fdee4c;
    --bg:#0a0a0a;
    --shadow: 0 2px rgb(0 0 0 / 0.5);
}

html {
      scroll-behavior: smooth;
    }
body{
   font-size: 1.2rem;
   font-family: "Work Sans", sans-serif;
   min-height: 4000px;
}


.hero {
 height: 100vh;
 background-size: cover;
 background-position: center;
 position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: 
    linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), 
    url('img/tangan.jpeg');
  background-size: cover;
  background-position: center 40%; /* ini menurunkan posisi gambar */
  background-repeat: no-repeat;
  z-index: -1;
}


.hero h1, .hero h4, .hero p {
    text-shadow: var(--shadow);
}


.hero {
    position: relative;
    min-height: 100vh;
}


.hero h1 {
    font-family: 'sacramento', cursive;
    font-size: 2rem;
    font: bold;
}

.hero h4 {
    font-size: 0.8rem;
    padding: 2rem;
}

.hero p {
    font-size: 0.8rem;
     padding: 2rem;
}

.hero a {
    color: rgb(2, 2, 2);
    background-color: rgb(253, 253, 253);
    box-shadow: var(--shadow);
}

.hero a:hover {
    background-color: rgba(194, 194, 194, 0.345);
    color: white;
}

.mynavbar {
  background-color: rgb(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(4px)!important;
}

.navbar-brand {
  font-size: 1rem;
}


:root {
  scroll-padding-top: 3px ;
  --pink: #e91e63; /* kalau belum didefinisikan */
}
.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: 'Sacramento', cursive;
  font-size: 2rem;
  font-weight: bold;
}

.mynavbar .nav-link {
  text-transform: uppercase;
}


.sticky-top {
  overflow: hidden;
}

.home {
   background: linear-gradient(to bottom, #f0f0f0, #ffffff);
  color: #000000;
  background-size: cover;
  min-height: 100vh;
  margin-top: -3.5rem;
  padding-top: 6rem; /* Turunkan konten, bukan gambar */
  padding-bottom: 5rem;
}


.home h2
 {
  color: rgb(14, 15, 15);
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  font-weight: bold;
}

.home h3 {
  color: #090909;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.home p,
.gifts p {
  font-size: 0.8rem;
  color: #2e2e2e;
}


.home .couple {
    margin-top: 50px;
}

.home .couple h3{
    font-family: 'sacramento';
    font-size: 2.4rem;
    color: rgb(14, 15, 15);
    font-weight: bold;
}

.home .couple img {
    width: 100%;
}

.info{
    background-color: #444;
    color: white;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.info h2
 {
  color: rgb(252, 254, 254);
  font-family: 'Sacramento', cursive;
  font-size: 2.5rem;
  font-weight: bold;
}

.info .almat {
  font-size: 1.1rem;
}

.info .description {
  font-size: 1rem;
  font-weight: 300;
}

.info .card {
  background-color: rgba( 255, 255, 255, 0.2) !important;
  color: white !important;
  border: 1px solid #999;
}

.info .card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: o.1rem;
}

.info .card-body {
  font-size: 1rem;
}
.info .card-footer{
  border-top: 1px solid #999;
  font-size: 0.9rem;
  font-weight: 300;
}

.gallery h2
 {
  margin: 30px;
  color: rgb(14, 15, 15);
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  font-weight: bold;
}
.gallery {
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.gallery {
  background-color: #f5f5f5;

}
  .gallery img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }

  .gallery img:active,
  .gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
     filter: brightness(0.8);
  }


.rsvp{
    background-color: #b2b0b0;
    padding-top: 4rem;
    min-height: 100vh;
}

.rsvp h2{
  font-size:2rem ;
  color: white;
  font-family:"Work Sans", sans-serif;
}

.gifts {
    background-color: #ffffff;
    padding-top: 4rem;
    min-height: 100vh;
}

.gifts h2
 {
  color: rgb(0, 217, 251);
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  font-weight: bold;
 }
.mandiri-card {
  position: relative;
  background-image: url('img/background.jpeg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 90%;              
  margin: 0 auto;
  border-radius: 20px;
}

.mandiri-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    }

    .chip-img {
      width: 50px;
      position: relative;
    }

    .bank-logo {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 100px;
      filter: drop-shadow(0 0 2px rgba(0,0,0,0.5));
    }

  .mandiri-card p,
   .mandiri-card h5 {
  font-size: 0.8rem;
  color: #faf9f9;
}

footer {
  padding: 0.5rem;
  background-color: #3d6c78;
  margin-top: 3rem;
  color:white;
}

footer a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

.audio-icon {
  width: 4rem;
  height: 4rem;
  font-size: 2.5rem;
  position: fixed;
  bottom: 2.5rem;
  right: 0.5rem;
  cursor: pointer;
  color: rgb(251, 249, 249);
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/* media query */
/* laptop */
@media (mx-width:992px){
html{
    font-size: 75%;
}
.simply-countdown > .simply-section{
padding: 70px;
}
}

/* tablet*/
@media (mx-width:768px){
html{
    font-size: 65%;
}
.simply-countdown > .simply-section{
padding: 50px;
margin: 5px;
}

.mynavbar .nav-link {
font-size: 2rem;
text-align: center;

}
    
}
/*mobile phone*/
@media (max-width: 576px) {
  .simply-countdown > .simply-section {
    padding: 10px;
    font-size: 0.8rem;
  }
}



